@font-face {
	font-family: 'Muller';
	font-weight: 300;
	font-style: normal;
	src: 
		local("Muller-Light"), 
		url("/fonts/MullerLight.woff") format("woff"),
		url("/fonts/MullerLight.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: Muller;
	font-weight: 400;
	font-style: normal;
	src: 
		local("Muller-Regular"), 
		url("/fonts/MullerRegular.woff") format("woff"),
		url("/fonts/MullerRegular.woff2") format("woff2");
	font-display: swap;
}


@font-face {
	font-family: 'Muller';
	font-weight: 500;
	font-style: normal;
	src: 
		local("Muller-Medium"), 
		url("/fonts/MullerMedium.woff") format("woff"),
		url("/fonts/MullerMedium.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: Muller;
	font-weight: 700;
	font-style: normal;
	src: 
		local("Muller-Bold"), 
		url("/fonts/MullerBold.woff") format("woff"),
		url("/fonts/MullerBold.woff2") format("woff2");
	font-display: swap;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


a {
	padding: 0;
	margin: 0;
	color: #CC9933;
  	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: "Muller", "Arial", "Verdana", sans-serif;
	font-size: 16px;
	line-height: 16px;
	background-color: #F1F1F1;;
}

li {
    list-style-type: none;
}

ul {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}

h3 {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
	align-items: center;
}

.nav {
	margin: 0;
	padding: 0;
}

.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.h2 {
	
	font-family: "Muller";
	font-weight: normal;
	font-style: normal;
	font-size: 40px;
	line-height: 40px;
	text-indent: 40px;
	color: #333333;
}

.h3 {
	font-size: 20px;
	line-height: 40px;
	font-weight: 500;
	color: #CC9933;
}

.button {
	padding: 14px;
	margin: 0;
	border-radius: 12px;
	border: 1px solid #CC9933;
	font-size: 16px;
	line-height: 16px;	
	color: #CC9933;
}

/* header */

.header {
	padding-top: 30px;
}

.header-top {
	margin-bottom: 30px;
}

.header-logo {
	margin-right: 40px;
}

.header-tel {
	margin: 0;
	margin-right: 525px;
	width: 180px;
	color: #666666;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
}

.header-tel:focus,
.header-top_cabinet:focus {
	outline: none;
	padding: 2px;
    border:	1px solid #CC9933;
	color: #CC9933;
}

.header-top_cabinet:focus {
	padding-left: 30px;
}

.header-tel:hover {
	color: #CC9933;
	transition: background .3s ease, color .2s linear;
}


.header-tel:active {
	color: #A47312;
	border:	none;
	
}

.header-button {
	margin-bottom: 81px;
}

.header-top_cabinet {
	display: inline-block;
	padding-left: 30px;	
	background-image: url(../img/arow.png);
	background-repeat: no-repeat;
	background-position: 2%;
}

.cabinet-a {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #CC9933;
}


.header-nav {
	padding: 10px 45px;
	background-color: #FFFFFF;
	border-radius: 15px;
}

.nav-list_item {
	margin-right: 45px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	color: #666666;
}

.nav-list_item:last-child {
	margin-right: 56px;
}

.nav-list {
	height: 50px;
	margin-right: 50px;
	border-right: 1px solid #E1E1E1;
}

.nav {
	margin: 0;
	padding: 0;
}


.back-call {
	margin-right: 0px;
}

.tour {
	margin-right: 48px;
}

/* special-offer */

.special-offer {
	margin-bottom: 70px;
}

.special-offer_h2 {
	margin-bottom: 20px;
}

.special-offer_h3 {
	width: 350px;
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 15px;
	color: #fff;
}

.special-offer_card {
	align-items: stretch;
	border-radius: 15px;
}

.special-offer_left {
	flex-direction: column;
	align-items: stretch;
	border-radius: 15px;
	margin-right: 23px;
}

.special-offer_right {
	border-radius: 15px;
	justify-items: flex-start;
	align-items: flex-end;
	background-image: url(../img/room.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.offer-card {
	min-width: 573px;
	min-height: 258px;
	padding: 40px 40px;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-size: cover;
}

.offer-card_first {
	margin-bottom: 23px;
	background-image: url(../img/maldiv.jpg);
}

.offer-card_second {
	background-image: url(../img/crit.jpg);
}

.offer-price {
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 47px;
	color: #fff;
}

.ofer-lux {
	margin-bottom: 17px;
	font-size: 60px;
	line-height: 60px;
	color: #fff;
}

.offer-detail {
	width: 100px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	color: #FFCC66;
	background-image: url(../img/rec.png);
	background-repeat: no-repeat;
	background-position: right;
}


/* about-us */

.about-us {
	margin-bottom: 70px;
}

.about-us_h2 {
	margin-bottom: 11px;
}

.about-us_description {
	width: 888px;
	font-style: normal;
	font-size: 16px;
	line-height: 32px;
	color: #000;
}

/* services */

.services {
	margin-bottom: 47px;
}

.services_h2 {
	margin-bottom: 20px;
}

.services-card {
	max-width: 573px;
	height: 100%;
	margin-bottom: 23px;
	border-radius: 15px;
	background-color: #fff;
}

.services-list_item:not(:nth-child(2n)) {
	margin-right: 23px;
	margin-bottom: 23px;
}

.services-list_item {
	margin-bottom: 23px;
}

.services-card_img {
	width: 573px;
	height: 165px;

}

.services-card-img_10 {
	background-image: url(../img/10.png);
	background-repeat: no-repeat;
	background-position: top;
}

.services-card-img_15 {
	background-image: url(../img/15.png);
	background-repeat: no-repeat;
	background-position: top;
}

.services-card-img_12 {
	background-image: url(../img/12.png);
	background-repeat: no-repeat;
	background-position: top;
}

.services-card-img_carlo {
	background-image: url(../img/carlo.png);
	background-repeat: no-repeat;
	background-position: top;
}

.services-ul  {
	flex-wrap: wrap;
	align-items: stretch;
}

.services-card_description {
	padding: 26px 45px 50px;
}

.services-card_p {
	max-width: 450px;
	font-weight: 400;
	line-height: 32px;
}

.h3_service-card {
	display: inline-block;
	padding-right: 20px;	
	background-image: url(../img/rec.png);
	background-repeat: no-repeat;
	background-position: right;
}

/* advantages */

.advantages {
	margin-bottom: 47px;
}

.advantages_h2 {
	margin-bottom: 30px;
}

.advantages-list {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;

}

.advantages-list_item {
	width: calc((100% - 23px*3) / 4);
}

.advantages-list_item:not(:nth-child(4n)) {
	margin-right: 23px;
}

.advantages-card {
	height: calc(100% - 23px);
	border-radius: 15px;
	margin-bottom: 23px;
	padding: 40px 45px;
	background-color: #fff;
}	

.advantages-card_img {
	width: 90px;
	height: 65px;
	margin-bottom: 12px;
}

.advantages-card_description {
	font-weight: 400;
	line-height: 32px;
	color: #000;
}

.advantages-card-img_bathtub {
	background-image: url(../img/bathtub.png);
	background-repeat: no-repeat;
	background-position: left;
}

.advantages-card-img_hanger {
	background-image: url(../img/hanger.png);
	background-repeat: no-repeat;
	background-position: left;
}

.advantages-card-img_heating {
	background-image: url(../img/heating.png);
	background-repeat: no-repeat;
	background-position: left;
}

.advantages-card-img_heating {
	background-image: url(../img/heating.png);
	background-repeat: no-repeat;
	background-position: left;
}
.advantages-card-img_hotel-key {
	background-image: url(../img/hotel-key.png);
	background-repeat: no-repeat;
	background-position: left;
}

.advantages-card-img_parking {
	background-image: url(../img/parking.png);
	background-repeat: no-repeat;
	background-position: left;
}

.advantages-card-img_reception {
	background-image: url(../img/reception.png);
	background-repeat: no-repeat;
	background-position: left;
}

.advantages-card-img_security-box {
	background-image: url(../img/security-box.png);
	background-repeat: no-repeat;
	background-position: left;
}

.advantages-card-img_swimming-pool {
	background-image: url(../img/swimming-pool.png);
	background-repeat: no-repeat;
	background-position: left;
}


/* accommodation */

.accommodation-card {
	max-width: 374px;
	height: calc(100% - 23px);
	margin-bottom: 23px;
	border-radius: 15px;
	background-color: #fff;
}

.accommodation-card_description {
	
	padding: 36px 45px;
	margin-bottom: 16px;
}

.accommodation-list_item:not(:nth-child(3n)) {
	margin-right: 23px;
	
}

.accommodation_h2 {
	margin-bottom: 30px;
}

.accommodation_h3 {
	margin-bottom: 16px;
	font-weight: 400;
	font-style: normal;

}

.accommodation-list {
	flex-wrap: wrap;
	align-items: stretch;
	
}
.accommodation-card_p {
	margin-bottom: 16px;
}

.text-grey {
	font-weight: 400;
	font-style: normal;
	color: #999;
}

.text {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	font-style: normal;
	color: #000;
}

.text-slash {
	margin-right: 45px;
	font-weight: 400;
	font-style: normal;
	color: #000;
}

.name-hotel {
	margin-bottom: 16px;
	font-weight: 400;
	font-style: normal;
	color: #999;
}

.buttom-room {
	display: inline-block;
}

.alloptions {
	flex-direction: column;
	flex-grow: 1;
	justify-content: stretch;
	padding: 0px 0px 50px 50px;
	justify-content: flex-end;
	align-items: flex-start;
	background-image: url(../img/41.png);
	background-repeat: no-repeat;

}

.alloptions-a {
	display: block;
	padding-right: 20px;
	background-image: url(../img/>fff.svg);
	background-repeat: no-repeat;
	background-position: right;
	color: #fff;
}


/* accommodation */

.accommodation {
	margin-bottom: 70px;
}

/* want-tour */

.want-tour_container {
	padding: 38px 45px 71px;
	margin-bottom: 70px;
	border-radius: 15px;
	background-color: #E9E9E9;
}

.want-tour_h2 {
	text-indent: 0px;
	margin-bottom: 19px;
}

.want-tour_form {
	padding: 31px 28px;
	border-radius: 15px;
	background-color: #fff;
}


.want-tour_item:not(:last-of-type) {
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #E1E1E1;
}

.name_input {
	font-size: 12px;
	display: inline-block;
	margin-bottom: 15px;
}

.want-tour_select-text {
	border: 0px;
	width: 100%;
	font-size: 16px;
}

.select-city {
	width: 169px;
}

.input-data {
	width: 141px;
}

.input-number {
	width: 108px;
	border-bottom: 1px solid #999;
}

.button-search {
	padding: 0;
  	border: none;
  	font: inherit;
  	color: inherit;
  	background-color: transparent;
	cursor: pointer;
}

/* contact */

.contact-h2 {
	margin-bottom: 26px;
}

.container-white {
	margin-bottom: 19px;
	align-items: flex-start;
	padding: 44px 44px 46px 46px;
	border-radius: 15px;
	background-color: #fff;
}
.contact-list {
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
	margin-right: 50px;
}

.contact-list_item	{
	display: flex;
	width: 375px;
	padding-top: 25px;
	padding-bottom: 23px;
}

.contact-list_item:Not(:last-of-type) {
	border-bottom: 1px solid #C4C4C4;
}

.contact-span {
	display: block;
	width: 145px;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	font-style: normal;
}

.contact-discr {
	width: calc(100% - 145px);
}

.contact-p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.button-go {
	padding: 26px;
}

.contact-a {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

/* footer */

.footer-container {
	padding: 46px 52px;
	border-radius: 15px;
	margin-bottom: 20px;
	align-items: flex-start;
	background-color: #333333;
	background-image: url(../img/sun.svg);
	background-repeat: no-repeat;
	background-position: bottom 0px right 175px;
}

.footer-discr_item {
	margin-bottom: 45px;
}

.footer-discr_item-center:nth-child(2n+1) {
	margin-bottom: 15px;
}

.footer-box_left {
	width: 320px;
	margin-right: 102px;
}

.footer-box_center {
	width: 519px;
	margin-right: 100px;
}

.footer-discr_p {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
}

.social-networks_item {
	width: 25px;
	margin-bottom: 20px;
}

.footer-discr_a {
	line-height: 24px;
	font-size: 16px;
}




